<div class="portfolio-container" #container>
    <div class="header" [class.menu-opened]="isSideMenuOpen">
        <div class="language-link-container">
            <a class="language-link language-link-fr" [class.active]="language === 'fr'" (click)="useLanguage('fr')">FR</a>
            <div class="language-link-divider">/</div>
            <a class="language-link language-link-en" [class.active]="language === 'en'" (click)="useLanguage('en')">EN</a>
        </div>

        <div class="burger-menu-icon-container">
            <button class="menu" [class.opened]="isSideMenuOpen" (click)="isSideMenuOpen = !isSideMenuOpen">
            <svg width="35" height="35" viewBox="0 0 100 100" class="icon">
              <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
              <path class="line line2" d="M 20,50 H 80" />
              <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
          </button>
        </div>
    </div>

    <div class="main-content-container">
        <section class="profile-container no-parallax">
            <div class="profile">
                <div class="about" #about>
                    <div class="introduction">
                        <div class="hello">
                            {{ 'presentation.introduction' | translate }}
                        </div>
                        <div class="name">
                            <div class="first-name">
                                Nathan
                            </div>
                            <div class="last-name">
                                Baigne
                            </div>
                        </div>
                    </div>

                    <div class="details">
                        {{ 'presentation.about' | translate }}
                    </div>

                </div>
                <img #profilePicture src="../assets/images/profile.png" class="profile-picture" alt="">
            </div>



        </section>

        <div class="sections" *ngFor="let section of sections">
            <app-parallax-section [section]="section">
                <ng-container [ngTemplateOutlet]="studies" *ngIf="section.name === 'studies'"></ng-container>
                <ng-container [ngTemplateOutlet]="experiences" *ngIf="section.name === 'experiences'"></ng-container>
                <ng-container [ngTemplateOutlet]="projects" *ngIf="section.name === 'projects'"></ng-container>
            </app-parallax-section>
        </div>




    </div>


    <app-side-menu class="app-side-menu" [isOpen]="isSideMenuOpen">
        <div class="menu-container">
            <div class="nav">
                <div class="nav__content">
                    <ul class="nav__list">
                        <li class="nav__list-item">{{ 'menu.about' | translate }}</li>
                        <li class="nav__list-item">{{ 'menu.contact' | translate }}</li>
                    </ul>
                </div>
                <a [href]="cvLink" target="_blank" class="btn-outline">{{ 'menu.cv' | translate }}</a>
            </div>
        </div>
    </app-side-menu>

</div>

<ng-template #experiences>
    <app-carousel>
        <app-carousel-item>
            <app-presentation-card></app-presentation-card>
        </app-carousel-item>
        <app-carousel-item>
            <div class="degree fontys">
                fTONYS
            </div>
        </app-carousel-item>
        <app-carousel-item>
            <div class="degree highschool">
                Jean Brito
            </div>
        </app-carousel-item>

    </app-carousel>
</ng-template>

<ng-template #projects>
    <app-carousel>
        <app-carousel-item>
            <div class="degree enib">
                eNIB
            </div>
        </app-carousel-item>
        <app-carousel-item>
            <div class="degree fontys">
                fTONYS
            </div>
        </app-carousel-item>
        <app-carousel-item>
            <div class="degree highschool">
                Jean Brito
            </div>
        </app-carousel-item>

    </app-carousel>
</ng-template>

<ng-template #studies>
    <div class="studies-container">
        <div class="degree-card">
            <div class="school-image">
                <img src="../assets/images/enib.png">
            </div>
            <div class="degree-title">
                {{ 'studies.enib.title' | translate }}
            </div>
            <div class="year">
                {{ 'studies.enib.date' | translate }}
            </div>
            <div class="details">
                {{ 'studies.enib.details' | translate }}
            </div>
            <div class="location">
                {{ 'studies.enib.location' | translate }}
            </div>
            <div class="know-more">
                En savoir plus
            </div>
        </div>
        <div class="degree-card">
            <div class="school-image">
                <img src="../assets/images/fontys.png">
            </div>
            <div class="degree-title">
                {{ 'studies.fontys.title' | translate }}
            </div>
            <div class="year">
                {{ 'studies.fontys.date' | translate }}
            </div>
            <div class="details">
                {{ 'studies.fontys.details' | translate }}
            </div>
            <div class="location">
                {{ 'studies.fontys.location' | translate }}
            </div>
            <div class="know-more">
                En savoir plus
            </div>
        </div>
        <div class="degree-card">
            <div class="school-image">
                <img src="../assets/images/high-school.png">
            </div>
            <div class="degree-title">
                {{ 'studies.lycee.title' | translate }}
            </div>
            <div class="year">
                {{ 'studies.lycee.date' | translate }}
            </div>
            <div class="details">
                {{ 'studies.lycee.details' | translate }}
            </div>
            <div class="location">
                {{ 'studies.lycee.location' | translate }}
            </div>
            <div class="know-more">
            </div>
        </div>
    </div>
</ng-template>